* {
  margin: 0;
}

:root {
  --green-light: hsl(135, 65%, 75%);
  --green-medium: hsl(135, 65%, 40%);
  --green-dark: hsl(135, 65%, 30%);
  --color-light: hsl(135, 85%, 98%);
  --color-dark: hsl(135, 85%, 3%);
}

html {
  height: 100%;
}

body {
  background-color: var(--color-dark);
  color: var(--color-light);
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
  min-height: 100%;

  &.home {
    display: grid;
    place-content: center;

    main,
    footer {
      margin-top: 0;
    }

    main * + * {
      margin-top: 1em;
    }
  }
}

a {
  color: inherit;
  text-underline-offset: 0.15em;
  overflow-wrap: break-word;

  &:focus-visible {
    outline-offset: 0.15em;
    outline: 2px solid currentColor;
  }
}

.container {
  width: min(var(--container-max, 60ch), 100vw - 2rem);
  margin: 5vh auto;
}

header {
  display: grid;

  &::before {
    content: "";
    font-size: clamp(3rem, 8vw + 1rem, 6rem);
    width: 1.25em;
    height: 0.25em;
    background-image: linear-gradient(
      to right,
      var(--green-light) 0 0.25em,
      hsla(0 0% 0% / 0%) 0.25em 0.5em,
      var(--green-medium) 0.5em 0.75em,
      hsla(0 0% 0% / 0%) 0.75em 1em,
      var(--green-dark) 1em 1.25em
    );
  }
}

header p:first-of-type {
  font-size: clamp(1.35rem, 3vw + 1rem, 1.75rem);
  margin-top: 1em;
  color: var(--green-medium);
}

footer {
  padding-top: 1rem;
  color: var(--green-light);
  border-top: 1px solid;
}

h1 {
  font-family: "Inter", system-ui, sans-serif;
  font-weight: 900;
  font-size: clamp(3rem, 8vw + 1rem, 6rem);
  line-height: 1;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: repeating-linear-gradient(
    to bottom,
    var(--green-light) 0 0.45em,
    var(--green-medium) 0.45em 0.7em,
    var(--green-dark) 0.7em 1.15em
  );
  filter: drop-shadow(0 0.015em var(--color-light));

  small {
    display: block;
    line-height: 1.25;
    font-size: 0.7em;
  }
}

h2 {
  margin: 8vh 0 3vh;
}

p {
  line-height: 1.5;
  overflow-wrap: break-word;
}

code {
  color: var(--green-light);
  font-size: 0.9em;
  overflow-wrap: break-word;
}

[role="list"] {
  list-style: none;
  padding: 0;
  margin: 0;
}

.card {
  border-radius: 0.5rem;
  border: 2px solid var(--green-light);
  padding: 1rem;

  * + * {
    margin-top: 1em;
  }
}

dt {
  font-weight: bold;
}

dl .card {
  background-color: var(--green-medium);
  color: var(--color-dark);
  text-align: center;
  display: flex;
  flex-direction: column;

  dd {
    padding-top: 1em;
    margin-top: auto;
  }

  .total {
    font-size: 2rem;
    font-weight: bold;
  }
}

.og {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0.5rem;

  dl {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  dl .card {
    padding: 0.5em;
    background-color: transparent;
    border: none;
    border-radius: 0;
    border-left: 2px solid var(--green-medium);
    color: var(--color-light);
    text-align: left;

    dd {
      padding-top: 0.25em;
    }
  }

  p {
    color: var(--green-light) !important;
    font-weight: bold;
    font-size: 1.15rem !important;
    margin: 0 !important;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--min, 15ch), 1fr));
  gap: 2rem;
}

ol.grid {
  --min: 25ch;
}

ol {
  a {
    color: var(--green-light);
  }

  .card dd {
    margin: 0.25em 0 1rem 1rem;
  }
}
