---
layout: base
---

<header class="container">
  <h1>repos wrapped</h1>
  <p>A yearly review of your public GitHub repository stats</p>
</header>
<main class="container">
  <h2>View your stats</h2>
  <ol>
    <li>Append your GitHub username to the url, ex: <code>/stats/username/</code></li>
    <li>Optionally choose a different year, ex. <code>/stats/username/year/</code></li>
  </ol>
</main>