---
eleventyExcludeFromCollections: true
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ '/css/style.css' | url }}">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@900&display=swap" rel="stylesheet">
  </head>
  <body>
    <header class="container og">
        <h1><small><span class="user">5t3ph</span><br><span class="year">2021</span></small></h1>
        <dl class="grid">
          <div class="card">
            <dt>Total repos</dt>
            <dd class="total">17</dd>
          </div>
          <div class="card">
            <dt>Most starred</dt>
            <dd class="starred">⭐️ 488<br>smolcss</dd>
          </div>
        </dl>
        <p>reposwrapped.dev</p>
    </header>
  </body>
</html>