---
layout: base
permalink:
  stats: 
  - /stats/:user/
  - /stats/:user/:year/
eleventyComputed:
  title: "{{ eleventy.serverless.path.user or '' }} {{ eleventy.serverless.path.year or '2021' }}"
  user: "{{ eleventy.serverless.path.user or '' }}"
  year: "{{ eleventy.serverless.path.year or '2021' }}"
  total: "{% if repoData %}{{ repoData.length }}{% endif %}"
  stars: "{% if repoData %}{% ogStars repoData %}{% endif %}"
---

{%- set user = eleventy.serverless.path.user -%}
{%- set year = eleventy.serverless.path.year or '2021' -%}

<header class="container">
  <h1>repos wrapped <small>{{ user }}<br>{{ year }}</small></h1>
  <p>A yearly review of your public GitHub repository stats</p>
  <p><a href="/">Get your stats</a></p>
</header>


<main class="container">

{% if repoData.length %}

  <dl class="grid">
    <div class="card">
      <dt>Total repos</dt>
      <dd class="total">{{ repoData | length }}</dd>
    </div>
    <div class="card">
      <dt>Most starred</dt>
      <dd>{% mostStarred repoData %}</dd>
    </div>
    <div class="card">
      <dt>Last updated</dt>
      <dd>{% lastUpdated repoData %}</dd>
    </div>
  </dl>

  <h2>All Repositories</h2>
  <ol class="grid" role="list">
  {% for repo in repoData %}
  <li class="card">
    <h3><a href="{{ repo.html_url }}">{{ repo.name }}</a></h3>
    {%- if repo.description %}
    <p>{{ repo.description }}</p>
    {% endif -%}
    <dl>
      <dt>Stars</dt>
      <dd>{{ repo.stargazers_count }}</dd>
      <dt>Created</dt>
      <dd>{{ repo.created_at | repoDate }}</dd>
      <dt>Updated</dt>
      <dd>{{ repo.pushed_at | repoDate }}</dd>
    </dl>
  </li>
  {% endfor %}
  </ol>
{% else %}
<p>Sorry, we've either hit the API limit for now or you do not have any public repos for {{ year }}.</p>
{% endif %}
</main>